Привет, меня зовут Гребенюк Артём. Сегодня я буду делать ревью твоего проекта!\
В Практикуме принято общаться на "ты", однако если это неудобно - дай знать, и можем перейти на более официальное общение.

Ниже ты найдешь мои комментарии - пожалуйста, не перемещай, не изменяй и не удаляй их. Я буду использовать цветовую разметку: 

<div class="alert alert-block alert-success">
<b>Success:</b> Если все сделано хорошо. </div>

<div class="alert alert-block alert-warning">
<b>Remarks:</b> Некритичное замечание; если таких замечаний меньше трех — проект может быть принят без их отработки.</div>

<div class="alert alert-block alert-danger">
<b>Needs fixing:</b> Грубая ошибка, необходимо исправить, иначе проект не будет принят.
</div>

Давай работать над проектом в диалоге: если ты что-то меняешь в проекте или отвечаешь на мои комменатри — пиши об этом. Мне будет легче отследить изменения, если ты выделишь свои комментарии:
Например так:
<div class="alert alert-block alert-info">
<b>Fixed:</b> 
Hello World!
</div>

Или можешь использовать эту галочку ✔ в моих комментариях, если писать особо нечего.

<div class="alert alert-block alert-warning">
<b>Общее впечатление:</b> 
    
- Спасибо за работу :)
- Определенно могу сказать, что справился ты очень хорошо
- У меня есть пара ремарок, которые помогут тебе сделать проект еще лучше.
- Пробегись по моим комментариям, исправь недочёты и всё будет отлично :)
    
</div>

<div class="alert alert-block alert-info">
✔ Артем, привет! Спасибо за проделанную работу!
</div>

<div class="alert alert-block alert-success">
Привет! Мы отлично поработали - шагнули ненмого в бигадту, привели окд к индустриалньым стандартам и в целом и без того хороший проект сделали еще лучше :) Отличная работа, проект принят, удачи в дальнейшем обучении!

<h1> Исследование надёжности заёмщиков </h1>

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели **кредитного скоринга** — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

**Содержание**

- [1   Шаг 1. Откройте файл с данными и изучите общую информацию](#a)
- [2   Шаг 2. Предобработка данных](#b)
    - [2.1   Обработка пропусков](#c)
    - [2.2   Замена типа данных ](#d)
    - [2.3   Обработка дубликатов](#e)
    - [2.4   Лемматизация](#f)
    - [2.5   Категоризация данных](#g)
        - [2.5.1   Категоризация количества детей в семье](#h)
        - [2.5.2   Категоризация общего трудового стажа в днях](#i)
        - [2.5.3   Категоризация возраста клиента в годах](#j)
        - [2.5.4   Категоризация ежемесячного дохода](#k)
        - [2.5.5   Категоризация цели получения кредита](#l)
- [3   Шаг 3. Ответьте на вопросы](#m)
    - [3.1   Есть ли зависимость между наличием детей и возвратом кредита в срок?](#n)
    - [3.2   Есть ли зависимость между семейным положением и возвратом кредита в срок?](#o)
    - [3.3   Есть ли зависимость между уровнем дохода и возвратом кредита в срок?](#p)
    - [3.4   Как разные цели кредита влияют на его возврат в срок?](#q)
    - [3.5   Проверим выдвинутую нами гипотезу о том, что наиболее кредитоспособный возраст лежит в диапазоне 21-50 лет.](#r)
- [4   Шаг 4. Общий вывод](#s)
- [5   Чек-лист готовности проекта](#t)

<div class="alert alert-block alert-warning">
<b>Remarks:</b> 
    
Отлично, что у проекта есть введение. Однако стоит задуматься, как еще его можно дополнить, чтобы сделать более ценным для читателя. В студенческом ноушене (если нет доступа, спроси куратора) есть статья о том, как мы оформляем работы.
    
Также советую тебе взглянуть на <a href="https://www.kaggle.com/notebooks/">работы</a> профессиональных аналитиков, чтобы оценить, как другие люди оформляют и проводят исследования. </div>

<div class="alert alert-block alert-info">
✔ Подход, описанный в ноушене, не сработал, если # используются для заголовков, метки не работают. Добавил содержание из примеров на kaggle.com.
</div>

<h2> Шаг 1. Откройте файл с данными и изучите общую информацию  </h2><a id=a></a>

Импортируем библиотеки:

In [1]:
import pandas as pd
from pymystem3 import Mystem
from collections import Counter
m = Mystem()

<div class="alert alert-block alert-success">
<b>Success:</b> превосходное оформление импортов

Импортируем данные:

In [2]:
data = pd.read_csv('/datasets/data.csv')

Воспользуемся `.info()`, `.head()` и `.describe()` для анализа данных.

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [4]:
data.head(15)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости

In [5]:
#data.describe()
data.describe().T

,count,mean,std,min,25%,50%,75%,max
children,21525.0,0.538908,1.381587,-1.000000,0.000000,0.000000,1.000000,2.000000e+01
days_employed,19351.0,63046.497661,140827.311974,-18388.949901,-2747.423625,-1203.369529,-291.095954,4.017554e+05
dob_years,21525.0,43.293380,12.574584,0.000000,33.000000,42.000000,53.000000,7.500000e+01
education_id,21525.0,0.817236,0.548138,0.000000,1.000000,1.000000,1.000000,4.000000e+00
family_status_id,21525.0,0.972544,1.420324,0.000000,0.000000,0.000000,1.000000,4.000000e+00
debt,21525.0,0.080883,0.272661,0.000000,0.000000,0.000000,0.000000,1.000000e+00
total_income,19351.0,167422.302208,102971.566448,20667.263793,103053.152913,145017.937533,203435.067663,2.265604e+06

<div class="alert alert-block alert-warning">
<b>Remarks:</b> 

Кстати этот аутпут можно развернуть для лучшего восприятия `df.describe().T`
</div>

<div class="alert alert-block alert-info">
<b>Fixed:</b> 

✔
</div>

Результаты первичного анализа:
1. Столбцы `days_employed` и `total_income` имеют пропуски.
2. Столбцы `days_employed` и `total_income` имеют тип float64, хотя по условию данные целочисленные.
3. Столбец `education` имеет разный регистр.
4. В столбцах `children` и `days_employed` наблюдаются сомнительные максимальное значения.
5. В столбцах `children`, `days_employed` и `dob_years` наблюдаются сомнительные минимальные значения.
6. Столбец `days_employed` отличается еще тем, что имеет основную часть отрицательных значений и какую-то незначительную часть весьма большах значений, которая сильно влияет на среднее значение.

Проведем более детальный анализ наблюдений. В начале для удобства переименуем столбцы:
    `debt` переименуем в `credit_debt` — имел ли задолженность по возврату кредитов;
    `total_income` переименуем `monthly_income` — ежемесячный доход.

In [6]:
data = data.rename(columns={'debt':'credit_debt', 'total_income':'monthly_income'})
data.head(3)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,credit_debt,monthly_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья

In [7]:
data['children'].value_counts()

 0     14149
 1      4818
 2      2055
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64

В дальнейшем необходимо обработать значения `-1` и `20`.

In [8]:
data[data['days_employed'].isnull()].head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,credit_debt,monthly_income,purpose
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
26,0,NaN,41,среднее,1,женат / замужем,0,M,госслужащий,0,NaN,образование
29,0,NaN,63,среднее,1,Не женат / не замужем,4,F,пенсионер,0,NaN,строительство жилой недвижимости
41,0,NaN,50,среднее,1,женат / замужем,0,F,госслужащий,0,NaN,сделка с подержанным автомобилем
55,0,NaN,54,среднее,1,гражданский брак,1,F,пенсионер,1,NaN,сыграть свадьбу

Пропуски в столбцах `days_employed` и `total_income` находятся в одних строках.

In [9]:
data[(data['monthly_income'].isnull() == True) & (data['days_employed'].isnull() == True)]['income_type'].value_counts()

сотрудник          1105
компаньон           508
пенсионер           413
госслужащий         147
предприниматель       1
Name: income_type, dtype: int64

Отсутствующие значения в `monthly_income` и `days_employed` наблюдаются во всех категориях `income_type`. Значит, они не безработные.

Сравним **средний** и **медианный** трудовой стаж, возьмем значения по модулю и округлим до целых:

In [10]:
print('Средний трудовой стаж:', (data['days_employed'].abs().mean().astype('int')), 'дней')
print('Медианный трудовой стаж:', data['days_employed'].abs().median().astype('int'), 'дней')

Средний трудовой стаж: 66914 дней
Медианный трудовой стаж: 2194 дней

Проверим, какая категория из `income_type` имеет положительное значение стажа:

In [11]:
data[(data['days_employed'] < 0)]['income_type'].value_counts()

сотрудник          10014
компаньон           4577
госслужащий         1312
студент                1
в декрете              1
предприниматель        1
Name: income_type, dtype: int64

Наблюдаются все категории, кроме `пенсионер` и `безработный`.

Проверим какая категория из `income_type` имеет более 20000 дней стажа:

In [12]:
data[(data['days_employed'] > 20000)]['income_type'].value_counts()

пенсионер      3443
безработный       2
Name: income_type, dtype: int64

Интересное наблюдение, эта категория включает классы `пенсионер` и `безработный`, которые отсутвовали в предыдущем исследовании.

In [13]:
data[data['dob_years'] == float(0)]['income_type'].value_counts()

сотрудник      55
компаньон      20
пенсионер      20
госслужащий     6
Name: income_type, dtype: int64

Значения 0, указанные в возрасте, встречаются в различных группах `income_type`. Следовательно его можно заполнить средними значениями.

In [14]:
data['education'].value_counts()

среднее                13750
высшее                  4718
СРЕДНЕЕ                  772
Среднее                  711
неоконченное высшее      668
ВЫСШЕЕ                   274
Высшее                   268
начальное                250
Неоконченное высшее       47
НЕОКОНЧЕННОЕ ВЫСШЕЕ       29
НАЧАЛЬНОЕ                 17
Начальное                 15
ученая степень             4
Ученая степень             1
УЧЕНАЯ СТЕПЕНЬ             1
Name: education, dtype: int64

Столбец `education` необходимо привести к единому регистру.

In [15]:
data['family_status'].value_counts()

женат / замужем          12380
гражданский брак          4177
Не женат / не замужем     2813
в разводе                 1195
вдовец / вдова             960
Name: family_status, dtype: int64

`Не женат / не замужем` имеет иной регистр, хорошо бы все элементы привести к единому стилю.

In [16]:
data['gender'].value_counts()

F      14236
M       7288
XNA        1
Name: gender, dtype: int64

Наблюдаем аномалию XNA в столбце `gender`.

In [17]:
data.loc[data['gender'] == 'XNA']

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,credit_debt,monthly_income,purpose
10701,0,-2358.600502,24,неоконченное высшее,2,гражданский брак,1,XNA,компаньон,0,203905.157261,покупка недвижимости

Проанализируем: детей нет, в гражданском браке, собирается приобретать недвижимость, вероятно, это мужчина, но, поскольку такая строка всего одна, ее можно удалить.

<div class="alert alert-block alert-warning">
<b>Remarks:</b> Почему мужчина?) в датасете женщин почти в два раза больше
</div>

<div class="alert alert-block alert-info">
<b>Fixed:</b> 

Хм, человеку 24 года, при этом стаж 6 лет и оклад 200 000 р, если бы не гражданский брак, конечно можно было предположить, что это женщина, возможно и женщина, мы же занимаемся исключительно анализом данных)
</div>

In [18]:
data['income_type'].value_counts()

сотрудник          11119
компаньон           5085
пенсионер           3856
госслужащий         1459
безработный            2
предприниматель        2
студент                1
в декрете              1
Name: income_type, dtype: int64

В столбце `income_type` аномалий не наблюдаем.

In [19]:
data['purpose'].value_counts()

свадьба                                   797
на проведение свадьбы                     777
сыграть свадьбу                           774
операции с недвижимостью                  676
покупка коммерческой недвижимости         664
покупка жилья для сдачи                   653
операции с жильем                         653
операции с коммерческой недвижимостью     651
жилье                                     647
покупка жилья                             647
покупка жилья для семьи                   641
строительство собственной недвижимости    635
недвижимость                              634
операции со своей недвижимостью           630
строительство жилой недвижимости          626
покупка недвижимости                      624
покупка своего жилья                      620
строительство недвижимости                620
ремонт жилью                              612
покупка жилой недвижимости                607
на покупку своего автомобиля              505
заняться высшим образованием              496
автомобиль                                495
сделка с подержанным автомобилем          489
свой автомобиль                           480
на покупку подержанного автомобиля        479
автомобили                                478
на покупку автомобиля                     472
приобретение автомобиля                   462
дополнительное образование                462
сделка с автомобилем                      455
высшее образование                        453
получение дополнительного образования     447
образование                               447
получение образования                     443
профильное образование                    436
получение высшего образования             426
заняться образованием                     412
Name: purpose, dtype: int64

Аномалий не наблюдается, но необходима лемманизация.

**Вывод**

1. В столбце `children` наблюдаются *две аномалии* -1 и 20, предположительно, соотвествующие значениям 1 и 2.
2. В столбце `days_employed` наблюдаются *отрицательные и вещественные значения*, их необходимо привести к целым положительным значениям. Отрицательные значения, вероятно, обусловлены тем, что *дата устройства на работу* вычиталась из *даты окончания трудовых отношений*. Также наблюдаются *пропуски*, которые полностью коррелируют со столбцом `monthly_income`, значения можно заполнить средними в соотвествии с возрастом. Отрицательные значения имеют адекватное значение дней стажа, тогда как положительные значения сильно завышены и при этом принадлежат только двум группам `income_type` - `пенсионер` и `безработный`. Вероятно, для них стаж указан в часах.
3. В столбце `dob_years` необходимо устранить *нулевые значения*, можно средними значениями исходя из данных `days_employed`.
4. В столбце `education` данные необходимо привести к *единому регистру*, чтобы не возникло проблем с *дубликатами*.
5. В столбце `gender` наблюдаемую *анамалию XNA* оставим без внимания, вероятно она случайна, удалим строку.
6. В столбце `monthly_income` наблюдаются пропуски, которые можно заполнить по средним значениям из `dob_years`.
7. В столбце `purpose` аномалий не наблюдается, однако необходим более детальный анализ и группировка представленных данных.

<div class="alert alert-block alert-success">
<b>Success:</b> Отличный первый взгляд на данные!

<h2> Шаг 2. Предобработка данных </h2><a id=b></a>

<h3> Обработка пропусков </h3><a id=c></a>

С помощью `.replace()` заменяем количество детей: -1 на 1 и 20 на 2:

In [20]:
#data['children'] = data['children'].replace(-1, 1)
data['children'] = data['children'].abs()
data['children'] = data['children'].replace(20, 2)
data['children'].value_counts()

0    14149
1     4865
2     2131
3      330
4       41
5        9
Name: children, dtype: int64

<div class="alert alert-block alert-warning">
<b>Remarks:</b> не очень расширяемое решениея - в следующем датасете появятся -2 и -3 ребенка и придется дописывать еще два реплейса. Тоже самое с слишком большим окличеством. Давай попробуем написать универсальную функцию (подсказка - для отрицательных значений очень хорошо подойдет abs())
</div>

<div class="alert alert-block alert-info">
<b>Fixed:</b>

✔ Применил .ads(). Для 20 не стал писать, так как не понятно, какого рода могут быть еще ошибки, если всегда лишний 0, то влияет с какой стороны и т.д.
</div>

Удалим строку с полом `XNA`:

In [21]:
data = data.drop(data[data['gender'] == 'XNA'].index)

Переведем для **пенсионеров** и **безработных** стаж из часов в дни.

In [22]:
def days_employed_norm(data):
    if data > 0:
        return (data/24)
    #else:
        #return data
    return data

data['days_employed'] = data['days_employed'].apply(days_employed_norm)

<div class="alert alert-block alert-warning">
<b>Remarks:</b> 
    
Можно в этой функции избавиться от последнего `else` и сразу выйти в return
    
https://medium.com/lemon-code/guard-clauses-3bc0cd96a2d3

</div>
<div class="alert alert-block alert-info">
<b>Fixed:</b>

✔ Спасибо за интересную информацию!
</div>

Обработаем пропуски в столбцах `days_employed`, `monthly_income` и `dob_years`. Заполним их медианными значениями исходя из столбца `income_type`. Для `days_employed`, `monthly_income` используем `.fillna()`, а для `dob_years` `.replace()`.

In [23]:
data['days_employed'] = data.groupby('income_type')['days_employed'].transform(lambda x: x.fillna(x.median()))
data['monthly_income'] = data.groupby('income_type')['monthly_income'].transform(lambda x: x.fillna(x.median()))
data['dob_years'] = data.groupby('income_type')['dob_years'].transform(lambda x: x.replace(0, int(x.median())))

Проверим заполненные ячейки на наличие "молодых" пенсионеров с высоким стажем:

In [24]:
data[(data['income_type'] == 'пенсионер') & (data['dob_years'] < 30)].head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,credit_debt,monthly_income,purpose
1242,0,13948.510826,22,Среднее,1,Не женат / не замужем,4,F,пенсионер,0,89368.600062,получение высшего образования
3619,0,15217.221094,24,среднее,1,женат / замужем,0,F,пенсионер,0,118514.486412,покупка своего жилья
12507,0,15812.170938,27,среднее,1,Не женат / не замужем,4,F,пенсионер,0,50969.340462,сделка с автомобилем
12753,1,13740.904375,27,среднее,1,женат / замужем,0,F,пенсионер,0,65198.102341,получение образования
13953,0,15701.024409,27,среднее,1,в разводе,3,M,пенсионер,0,97961.993557,операции с жильем

Можно сделать вывод, что столбец `dob_years` изначально имел ошибочные данные, следовательно, мы не могли использовать медианные данные возраста по категории `пенсионер` для заполнения возраста.

Проверим гипотезу, что значения в столбцах `days_employed` и `dob_years` перепутаны для `пенсионер` и `безработный`:

In [25]:
data[data['days_employed']/356 < data['dob_years']].head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,credit_debt,monthly_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,14177.753002,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу

Выведем данные, чтобы убедиться, что замена прошла успешно.

In [26]:
data[['children','days_employed','dob_years','gender','monthly_income',]].head(15)

    children  days_employed  dob_years gender  monthly_income
0          1   -8437.673028         42      F   253875.639453
1          1   -4024.803754         36      F   112080.014102
2          0   -5623.422610         33      M   145885.952297
3          3   -4124.747207         32      M   267628.550329
4          0   14177.753002         53      F   158616.077870
5          0    -926.185831         27      M   255763.565419
6          0   -2879.202052         43      F   240525.971920
7          0    -152.779569         50      M   135823.934197
8          2   -6929.865299         35      F    95856.832424
9          0   -2188.756445         41      M   144425.938277
10         2   -4171.483647         36      M   113943.491460
11         0    -792.701887         40      F    77069.234271
12         0   15217.221094         65      M   118514.486412
13         0   -1846.641941         54      F   130458.228857
14         0   -1844.956182         56      F   165127.911772

 **Вывод**

Устранены проблемы с пропусками и ошибками в данных. Ошибки с столбцах `children`, `gender` и `dob_years` носят случайный характер и, вероятно, связаны с невнимательностью. Тогда как в столбцах `days_employed` и `monthly_income` систематический, и скорее всего целенаправленный характер, однако никакой закономерности с данными из других столбцов выявлено не было, в связи с этим пропуски заполнены из медианных значений. Отрицательные значения `days_employed` удалены, а завышенные переведены из часов в дни.

<h3> Замена типа данных </h3><a id=d></a>

</div>
<div class="alert alert-block alert-info">
Используем <a href="https://habr.com/ru/company/ruvds/blog/442516/">функцию</a> для определения потребления памяти:

</div>

In [27]:
def mem_usage(pandas_obj):
    if isinstance(pandas_obj,pd.DataFrame):
        usage_b = pandas_obj.memory_usage(deep=True).sum()
    else: # исходим из предположения о том, что если это не DataFrame, то это Series
        usage_b = pandas_obj.memory_usage(deep=True)
    usage_mb = usage_b / 1024 ** 2 # преобразуем байты в мегабайты
    return "Потребления памяти: {:03.2f} MB".format(usage_mb)

Проанализируем еще раз тип данных:

In [28]:
data.info()
print(mem_usage(data))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21524 entries, 0 to 21524
Data columns (total 12 columns):
children            21524 non-null int64
days_employed       21524 non-null float64
dob_years           21524 non-null int64
education           21524 non-null object
education_id        21524 non-null int64
family_status       21524 non-null object
family_status_id    21524 non-null int64
gender              21524 non-null object
income_type         21524 non-null object
credit_debt         21524 non-null int64
monthly_income      21524 non-null float64
purpose             21524 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.1+ MB
Потребления памяти: 11.84 MB

Столбцы `days_employed` и `dob_years` необходимо перевести в целочисленные:

In [29]:
#data['days_employed'] = data['days_employed'].abs().astype('int')
##data['monthly_income'] = data['monthly_income'].astype('int')
data[['dob_years','children','education_id','family_status_id']] = data[['dob_years','children','education_id','family_status_id']].astype('uint8')
data['days_employed'] = data['days_employed'].astype('uint16')
data.loc[data['gender'] == 'M', 'gender'] = 0
data.loc[data['gender'] == 'F', 'gender'] = 1
data[['credit_debt', 'gender']] = data[['credit_debt', 'gender']].astype('bool_')
data['monthly_income'] = data['monthly_income'].astype('uint32')

Проверяем, что все верно:

In [30]:
data.info()
print(mem_usage(data))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21524 entries, 0 to 21524
Data columns (total 12 columns):
children            21524 non-null uint8
days_employed       21524 non-null uint16
dob_years           21524 non-null uint8
education           21524 non-null object
education_id        21524 non-null uint8
family_status       21524 non-null object
family_status_id    21524 non-null uint8
gender              21524 non-null bool
income_type         21524 non-null object
credit_debt         21524 non-null bool
monthly_income      21524 non-null uint32
purpose             21524 non-null object
dtypes: bool(2), object(4), uint16(1), uint32(1), uint8(4)
memory usage: 1.1+ MB
Потребления памяти: 9.75 MB

<div class="alert alert-block alert-warning">
<b>Remarks:</b> 
    
Потенциал для эффективного изменения типов тут гораздо шире.
    
Давай я дам тебе две классные статьи, а ты попробуешь изменить типы данных на еще более подходящие и замеришь, сколько памяти в % ты сэкономишь:
    
https://pyprog.pro/data_types.html
    
https://habr.com/ru/company/ruvds/blog/442516/
    
</div>
<div class="alert alert-block alert-info">
<b>Fixed:</b>
    
✔ Изменил больше типов данных на оптимальные. Некоторые столбцы (дети, возраст и тд) не могут превышать определенные значения. Заменил тип для столбцов `gender` и `credit_debt` на <b>bool</b>.
</div>

**Вывод**

Типы данных изменены, это возможно поможет нам в дальшейшем анализе данных.

<h3> Обработка дубликатов </h3><a id=e></a>

Приведем к нижнему регистру столбец `education` используя `.lower()`:

In [31]:
data['education'] = data['education'].str.lower()
data.groupby(['education', 'education_id']).size().to_frame('count').sort_values('count', ascending=False).reset_index()

             education  education_id  count
0              среднее             1  15233
1               высшее             0   5260
2  неоконченное высшее             2    743
3            начальное             3    282
4       ученая степень             4      6

и столбец `family_status` тоже:

In [32]:
data['family_status'] = data['family_status'].str.lower()
data.groupby(['family_status', 'family_status_id']).size().to_frame('count').sort_values('count', ascending=False).reset_index()

           family_status  family_status_id  count
0        женат / замужем                 0  12380
1       гражданский брак                 1   4176
2  не женат / не замужем                 4   2813
3              в разводе                 3   1195
4         вдовец / вдова                 2    960

Проверим общее число и долю дубликатов в данных используя `.duplicated()`:

In [33]:
print('Число дубликатов:', data.duplicated().sum())

Число дубликатов: 71

In [34]:
print('Доля дубликатов: {:.2%}'.format(data.duplicated().sum() / len(data)))

Доля дубликатов: 0.33%

Данные дубликаты мы можем без каких-либо дополнительных проверок удалить используя `.drop_duplicates()`

In [35]:
data = data.drop_duplicates().reset_index(drop = True)

Проверим еще раз наличие дубликатов:

In [36]:
print('Число дубликатов:', data.duplicated().sum())

Число дубликатов: 0

**Вывод**

Регистр данных исправлен, дубликаты найдены и удалены. Данные готовы к анализу.

<h3> Лемматизация </h3><a id=f></a>

Проведем лемматизацию столбца `purpose`, поскольку он содержит множество разрозненных данных, имеющих общие слова, используем `.lemmatize()` внутри функции `lemma_categories`, результаты сохраним в новый dataframe `categories`.

In [37]:
categories = []
def lemma_categories(data):
    for element in data:
        lemma = m.lemmatize(element)
        categories.extend(lemma)
    return categories

categories = lemma_categories(data['purpose'])

Удалим элементы, встречающиеся менее одного раза:

In [38]:
lemmas = Counter(categories)

Отсортируем по частоте встречаемости и удалим слова короче 4 символов:

In [39]:
lemmas_purposes = [k for k in sorted(lemmas, key=lemmas.get, reverse=True) if len(k) > 4 if k != ' ' if k != '\n'][0:8]
print(lemmas_purposes)

['недвижимость', 'покупка', 'жилье', 'автомобиль', 'образование', 'операция', 'свадьба', 'строительство']

Оставим в списке только существительные, используем `.remove`:

In [40]:
lemmas_purposes.remove('покупка')
lemmas_purposes.remove('строительство')
lemmas_purposes

['недвижимость', 'жилье', 'автомобиль', 'образование', 'операция', 'свадьба']

**Вывод**

Проведя лемматизацию мы сформировали лист с наиболее часто встречающимися существительными, фигурирующими в целях получения кредита. В дальнейшем будем их использовать при категоризации.


<div class="alert alert-block alert-success">
<b>Success:</b> лемматизация выполнена корректно!

<h3> Категоризация данных </h3><a id=g></a>

<h4> Категоризация количества детей в семье </h4><a id=h></a>

Разделим данные на три группы:
1. Нет детей.
2. Один ребенок.
1. Несколько детей.

Это позволит в дальшейшем проанализировать влияние наличия детей и их количества.
Используем функцию `children_group`, данные сохраним в новый столбец `children_group`:

In [41]:
def children_group(data):
    if data == 1:
        return 'один ребенок'
    if data > 1:
        return 'несколько детей'
    else:
        return 'нет детей'

data['children_group'] = data['children'].apply(children_group)
data['children_group'].value_counts()

нет детей          14090
один ребенок        4855
несколько детей     2508
Name: children_group, dtype: int64


<div class="alert alert-block alert-success">
<b>Success:</b> Отличная категоризация! Здорово, что выделили многодетных заемщиков в отдельную категорию

Из результатов видно, что детей не имеют 2/3 клиентов.

<h4> Категоризация общего трудового стажа в днях </h4><a id=i></a>

Проверим, что после предобработки данных отсутствуют строки, где стаж больше чем возраст.

In [42]:
def days_employed_group(data):
    if data == 0:   
        return 'отсутсвует'
    elif (data/365) <= 5:  
        return 'меньше 5 лет'
    elif 5 < (data/365) <= 25:
        return '5-25 лет'
    elif 25 < (data/365) <= 45:
        return '25-45 лет'
    elif 45 < (data/365) <= 65:
        return '45-65 лет'
    else:
        return 'больше 65 лет'

data['days_employed_group'] = data['days_employed'].apply(days_employed_group)
data['days_employed_group'].value_counts()

больше 65 лет    17622
25-45 лет         3463
45-65 лет          368
Name: days_employed_group, dtype: int64

Проверим, в какую группу отсортировались `пенсионер` после деления стажа на **24**:

In [43]:
data.loc[data['income_type'] == 'пенсионер']['days_employed_group'].value_counts()

25-45 лет    3462
45-65 лет     367
Name: days_employed_group, dtype: int64

Результаты кажутся логичными, следовательно, предположение о том, что значения были в часах, верно.

<h4> Категоризация возраста клиента в годах </h4><a id=j></a>

Выполним категоризацию данных по `dob_years` на 7 групп:
1. моложе 18 лет - дети и подростки. *Не имеют собственного дохода*.
2. от 18 до 21 года - студенты и малоопытные специалисты со средним образованием. *Низкий нестабильный доход*.
3. от 21 до 35 лет - начинающие специалисты. *Группа риска, могут иметь как высокий, так и невысокий доход*.
4. от 35 до 50 лет - состоявшиеся специалисты. *Состоявшиеся люди со стабильным доходом*.
5. от 50 до 61.5 для мужчин и от 50 до 56.5 для женщин - люди предпенсионного возраста. *Велика вероятность сокращения*.
6. старше 61.5 для мужчин и старше 56.5 для женщин - пенсионеры. *Имеют невысокий, но стабильный доход*.

In [44]:
def age_group(age, gender):
    if age < 18:
        return 'дети и подростки'
    if 18 <= age < 21:  
        return '18-21'
    elif 21 <= age < 35:  
        return '21-35 '
    elif 35 <= age < 50: 
        return '35-50'
    elif age > 61.5 and gender == False:
        return 'пенсионеры'
    elif age > 56.5 and gender == True:
        return 'пенсионеры'
    else:
        return '50-56.5(61.5)'

data['age_group'] = data.apply(lambda x: age_group(x['dob_years'], x['gender']), axis=1)
data['age_group'].value_counts()

35-50            8310
21-35            5901
50-56.5(61.5)    3810
пенсионеры       3367
18-21              65
Name: age_group, dtype: int64

</div>
<div class="alert alert-block alert-info">
Заменил в условии M на False и F на True. 

</div>

Можно наблюдать, что 39% людей в возрасте 35-50 лет, которые, вероятно, имеют стабильный доход.

<h4> Категоризация ежемесячного дохода </h4><a id=k></a>

Выполним категоризацию данных по `monthly_income` на 4 группы исходя из результатов `.describe()`

In [45]:
stat_monthly_incomes = data['monthly_income'].describe()
stat_monthly_incomes[4:7]

25%    107620.0
50%    142594.0
75%    195818.0
Name: monthly_income, dtype: float64

Далее используем функцию с применением сортировки по квантилям 25%, 50% и 75%.


<div class="alert alert-block alert-success">
<b>Success:</b> Очень хорошо, что граничные значения взяты из характеристик датасета!

In [46]:
def income_group (date):
    if date <= stat_monthly_incomes[4]:
        return 'низкий'
    elif stat_monthly_incomes[4] < date <= stat_monthly_incomes[5]:
        return 'ниже среднего'
    elif stat_monthly_incomes[5] < date <= stat_monthly_incomes[6]:
        return 'выше среднего'
    else:
        return 'высокий'

data['income_group'] = data['monthly_income'].apply(income_group)
data['income_group'].value_counts()

ниже среднего    5479
низкий           5364
высокий          5363
выше среднего    5247
Name: income_group, dtype: int64

Можно наблюдать, что люди равномерно распределены по группам уровня дохода.

<h4> Категоризация цели получения кредита </h4><a id=l></a>

Список групп, полученный после лемматизации `lemmas_purposes`, используем в функции для категоризации данных по столбцу `purpose`.

In [47]:
def lemmatize(data):
    lemma = m.lemmatize(data)
    for element in lemmas_purposes:
        if element in lemma:
            lemma = element
    return lemma

data['purpose_group'] = data['purpose'].apply(lemmatize)        
data['purpose_group'].value_counts()

недвижимость    6350
жилье           4460
автомобиль      4306
образование     4013
свадьба         2324
Name: purpose_group, dtype: int64

Основную долю 50% занимает в той или иной мере недвижимость. Объединять *недвижимость* и *жилье* не будем, так как недвижимость могут приобретать для бизнеса.

**Вывод**

Несмотря на то, что мы провели только категоризацию, уже можно сделать некоторые выводы:
1. Почти 50% людей имеют опыт работы меньше 5 лет.
2. 39% людей находятся в возрастной группе 35-50 лет.
3. Уровень дохода между всеми группами людей распределен равномерно.
4. Основная часть кредитов берется для приобретения недвижимости.

<h2> Шаг 3. Ответьте на вопросы </h2><a id=m></a>

Постановка вопросов и предподготовка данных позволяет использовать функцию.
Сгруппируем по интересующему параметру и рассчитаем среднее для каждой группы.

In [48]:
def statistics(df):
    statistics = data.groupby(df)['credit_debt'].mean().to_frame().sort_values('credit_debt').reset_index()
    print('------------------------------------------------')
    for index, row in statistics.iterrows():
        print('{: <23} | {: >14.1%}'.format(row[0], 1-row[1]))

<h3> Есть ли зависимость между наличием детей и возвратом кредита в срок? </h3><a id=n></a>

Применим функцию `statistics` к столбцу `children_group`:

In [49]:
print('Наличие детей           | Возврат кредита в срок')
statistics('children_group')

Наличие детей           | Возврат кредита в срок
------------------------------------------------
нет детей               |          92.5%
один ребенок            |          90.8%
несколько детей         |          90.7%


<div class="alert alert-block alert-success">
<b>Success:</b> Отличное оформление!

In [50]:
data[data['children_group'] =='нет детей']['age_group'].value_counts(ascending=True)

18-21              54
21-35            3012
пенсионеры       3134
50-56.5(61.5)    3276
35-50            4614
Name: age_group, dtype: int64

**Вывод**

Наличие даже одного ребенка увеличивает вероятность задолженности по кредиту. Наличие детей увеличивает общую финансовую нагрузку, люди жертвуют выплатами в банк, а не снижением трат на ребенка, что весьма логично. Анализ наличия детей в различных возрастных группах показал, что меньше всего детей в группах 18-35 лет.

<h3> Есть ли зависимость между семейным положением и возвратом кредита в срок? </h3><a id=o></a>

Применим функцию `statistics` к столбцу `family_status`:

In [51]:
print('Семейное положение      | Возврат кредита в срок')
statistics('family_status')

Семейное положение      | Возврат кредита в срок
------------------------------------------------
вдовец / вдова          |          93.4%
в разводе               |          92.9%
женат / замужем         |          92.5%
гражданский брак        |          90.7%
не женат / не замужем   |          90.2%

Проанализируем две наименее надежные группы `гражданский брак` и `не женат / не замужем`.

In [52]:
data[data['family_status'] == 'гражданский брак']['purpose_group'].value_counts()

свадьба         2324
недвижимость     585
автомобиль       434
образование      404
жилье            403
Name: purpose_group, dtype: int64

Как видно, люди из группы `гражданский брак` в большинстве берут кредит на свадьбу. Возможно, после нее они перейдут в группу `женат / замужем` и станут более надежными клиентами.

In [53]:
data[data['family_status'] == 'не женат / не замужем']['purpose_group'].value_counts()

недвижимость    937
жилье           659
автомобиль      637
образование     577
Name: purpose_group, dtype: int64

В данном случае сделать какие-то однозначные выводы сложно.

**Вывод**

Зависимость действительно есть. Люди, которые *состоят* или *состояли в браке* более надежные клиенты. Люди из категории в `гражданском браке`, хотя и менее надежны, но чаще всего берут кредит на *свадьбу*. Люди из группы `не женат / не замужем` являются *наименее привлекательными* для банка исходя из этих данных.

<h3> Есть ли зависимость между уровнем дохода и возвратом кредита в срок? </h3><a id=p></a>

Применим функцию `statistics` к столбцу `income_group`:

In [54]:
print('Уровень дохода          | Возврат кредита в срок')
statistics('income_group')

Уровень дохода          | Возврат кредита в срок
------------------------------------------------
высокий                 |          92.9%
низкий                  |          92.0%
выше среднего           |          91.5%
ниже среднего           |          91.2%

Удивительно, что люди крайних групп оказались наиболее надежными клиентами, в отличие от "среднего класса". Проанализируем две крайние группы на предмет цели кредита:

In [55]:
data[data['income_group'] == 'ниже среднего']['purpose_group'].value_counts()

недвижимость    1633
автомобиль      1155
жилье           1079
образование     1024
свадьба          588
Name: purpose_group, dtype: int64

In [56]:
data[data['income_group'] == 'высокий']['purpose_group'].value_counts()

недвижимость    1607
жилье           1147
автомобиль      1089
образование      944
свадьба          576
Name: purpose_group, dtype: int64

По результатам можно сделать выводы, что цели кредитов в группе с `высоким` и `низким` заработком практически одинаковые.

**Вывод**

Наилучшими клиентами для банка являются люди либо с высоким, либо с низким доходом. Цели их кредитов в целом тоже идентичны. Люди со *средним* доходом менее надежны.

<h3> Как разные цели кредита влияют на его возврат в срок? </h3><a id=q></a>

Применим функцию `statistics` к столбцу `purpose_group`:

In [57]:
print('Цель кредита            | Возврат кредита в срок')
statistics('purpose_group')

Цель кредита            | Возврат кредита в срок
------------------------------------------------
жилье                   |          93.1%
недвижимость            |          92.5%
свадьба                 |          92.0%
образование             |          90.8%
автомобиль              |          90.6%

**Вывод**

Особых аномалий не наблюдается. Выше возврат кредита при покупке *недвижимости/жилья*, далее идет *свадьба*, люди из этой группы фигурировали в предыдущих выводах. Необходимо больше данных для более глубокого изучения этой группы людей.

<h3> Проверим выдвинутую нами гипотезу о том, что наиболее кредитоспособный возраст лежит в диапазоне 21-50 лет. </h3><a id=r></a>

In [58]:
print('Возрастная группа       | Возврат кредита в срок')
statistics('age_group')

Возрастная группа       | Возврат кредита в срок
------------------------------------------------
пенсионеры              |          95.0%
50-56.5(61.5)           |          93.2%
18-21                   |          92.3%
35-50                   |          92.0%
21-35                   |          89.1%

Очень неожиданно, но эта гипотеза не подтвердилась. Однако можно наблюдать, что пенсионеры являются лучшей группой по отсутствию задолженностей. Посмотрим цели получения кредита.

In [59]:
data[data['age_group'] =='пенсионеры']['purpose_group'].value_counts()

недвижимость    981
автомобиль      700
образование     666
жилье           655
свадьба         365
Name: purpose_group, dtype: int64

In [60]:
data[data['age_group'] =='пенсионеры']['purpose_group'].value_counts()

недвижимость    981
автомобиль      700
образование     666
жилье           655
свадьба         365
Name: purpose_group, dtype: int64

Интересным наблюдением можно считать, что в данном случае *жилье* находится не после недвижимости, как в предыдущих случаях. *Недвижимость* и *свадьба* находятся на краях со значительным отрывом.

<h2> Шаг 4. Общий вывод </h2><a id=s></a>

Используя `pivot_table` мы можем одновременно проследить влияние **наличия детей** и **семейного положения** на возврат кредита в срок:

In [61]:
data.pivot_table(index=['family_status'],columns='children_group',values='credit_debt',aggfunc='mean')

children_group         несколько детей  нет детей  один ребенок
family_status
в разводе                     0.094737   0.070153      0.066456
вдовец / вдова                0.096774   0.062574      0.086420
гражданский брак              0.097387   0.083914      0.118000
женат / замужем               0.089984   0.069095      0.082224
не женат / не замужем         0.127660   0.092838      0.114537

а также **уровня дохода** и **цели кредита**:

In [62]:
data.pivot_table(index=['income_group'],columns='purpose_group',values='credit_debt',aggfunc='mean')

purpose_group  автомобиль     жилье  недвижимость  образование   свадьба
income_group
высокий          0.085399  0.057541      0.074673     0.079449  0.050347
выше среднего    0.103143  0.074640      0.076478     0.093719  0.084229
ниже среднего    0.090043  0.081557      0.076546     0.107422  0.095238
низкий           0.096743  0.063280      0.070785     0.087332  0.089701

Анализируя сводные данные можно сделать вывод, что идеальный клиент это ***вдовец/вдова с высоким достатком не имеющий детей и планирующий свадьбу.*** Однако нельзя делать вывод исходя только из этих данных, поэтому:

**Суммируем выводы:**

***Идеальный клиент***: состоит или состоял в браке, не имеет детей, планирует приобретать недвижимость, имеет высокий доход.

Вполне закономерный вывод, человек в отношениях без детей, стремящийся приобрести недвижимость, чувствует ответственность и рационально распределяет доход. Однако люди, берущие кредит на свадьбу, но удовлетворяющие остальным критериям, являются хорошими клиентами. Анализ показал также, что люди удовлетворяющие критериям, но имеющие низкий доход, также являются хорошими клиентами, однако они находятся в зоне риска, особенно люди предпенсионного возраста.


***Нежелательный клиент***: не имеет постоянных отношений, имеет одного и более детей, планирует приобретать автомобиль, имеет средний доход.


<div class="alert alert-block alert-success">
<b>Success:</b> хороший, очень содержатеьный общий вывод! Отличная работа :)

<h2> Чек-лист готовности проекта </h2><a id=t></a>

Поставьте 'x' в выполненных пунктах. Далее нажмите Shift+Enter.

- [x]  открыт файл;
- [x]  файл изучен;
- [x]  определены пропущенные значения;
- [x]  заполнены пропущенные значения;
- [x]  есть пояснение, какие пропущенные значения обнаружены;
- [x]  описаны возможные причины появления пропусков в данных;
- [x]  объяснено, по какому принципу заполнены пропуски;
- [x]  заменен вещественный тип данных на целочисленный;
- [x]  есть пояснение, какой метод используется для изменения типа данных и почему;
- [x]  удалены дубликаты;
- [x]  есть пояснение, какой метод используется для поиска и удаления дубликатов;
- [x]  описаны возможные причины появления дубликатов в данных;
- [x]  выделены леммы в значениях столбца с целями получения кредита;
- [x]  описан процесс лемматизации;
- [x]  данные категоризированы;
- [x]  есть объяснение принципа категоризации данных;
- [x]  есть ответ на вопрос: "Есть ли зависимость между наличием детей и возвратом кредита в срок?";
- [x]  есть ответ на вопрос: "Есть ли зависимость между семейным положением и возвратом кредита в срок?";
- [x]  есть ответ на вопрос: "Есть ли зависимость между уровнем дохода и возвратом кредита в срок?";
- [x]  есть ответ на вопрос: "Как разные цели кредита влияют на его возврат в срок?";
- [x]  в каждом этапе есть выводы;
- [x]  есть общий вывод.